<form action="/api/user/{{user.id}}/documents" enctype="multipart/form-data" method="post">
    DNI:<input type="file" name="dni" id="dni">
    ADDRESS:<input type="file" name="address" id="address">
    BANK:<input type="file" name="bank" id="bank">
    <input type="submit" value="Enviar">
</form>